body {
  font-color: white;
  text-align: center;
}
main {
  margin: auto;
  max-width: 800px;
  background-color: red;
}
div {
  border: 50px;
  outset: red;
  background-color: black;
  text-align: center;
  color: white;
}
div.a {
  border: 50px;
  outset: red;
  background-color: black;
  text-align: center;
  color: white;
}
div.b {
  border: 50px;
  outset:white;
  background-color: red;
  text-align: center;
}
